<h1>Welcome to BKTK - a blog all about tech, investing, and trading!</h1>

<h4>We're two guys in the UK who have long been interested in analysing and discussing technology companies, and we're finally putting our money where our mouths are.</h4><br>

<p>The aim of this site is to hold ourselves to account for our investment decisions, as well as thinking out loud about implications of the latest trends, and potential trading ideas</p>

<p>We'll revisit old ideas, look at what we got right, what we got wrong, and the lessons learned. The aim is that by doing this in public, we'll learn faster and get better.</p>

<p>Add in a healthy dose of sarcasm and self-deprecation, and in no time we'll be able to match the returns of some of the world's top hedge funds (as long as they continue their crap performance ala Pershing Square!)</p>
<%= link_to (image_tag('pershing_square_returns.jpg', alt: 'Pershing Square Crap Returns', class: "blog-image")), 'https://twitter.com/saetacapital/status/997836103666323456', target: "_blank" %>

<p>Outside of investing, we'll also be discussing personal finance, side projects we're working on, and anything else of interest.</p>

<p>Enjoy, and <%= link_to 'get in touch with any feedback', 'https://twitter.com/BKandTK' %> - be it good, bad, or indifferent.</p>
<br>


<p><strong>Tom(TK)</strong> and <strong>Ben(BK)</strong>, circa 2008:</p>
<%= image_tag('bktk_eurotrip08.jpg', alt: 'Not as cool as we thought we were', class: "about-us") %>