@import "bootstrap-sprockets";
@import "bootstrap";


body { 
  background: url(cool-background.svg) no-repeat center center fixed; 
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("cool-background.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
}

ul {
	list-style-type: none
}

li {
	display: inline-block;
	margin-right: 50px;
}

.site-header {
	height: 50px;
	background: #89a8d0;
	display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column; 
}

